.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #DDDDDD;
  position: relative;
  display: flex;
  align-items: center;
}

.search-button {
  font-size: 18px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  margin: center;
  right: 30px;
  position: absolute;
}

.search-button:hover {
  opacity: 0.9;
}

.locations {
  height: 100%;
  width: 25%;
  border-right: 1px solid #DDDDDD;
}

.amenities {
  height: 100%;
  width: 25%;
}

.locations h3, .amenities h3 {
  font-weight: 600;
  margin-left: 50px;
}

.locations h4, .amenities h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: -10px;
  margin-left: 50px;
}

.locations .popover {
  display: none;
  background-color: #FAFAFA;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  list-style: none;
  padding: 0;
}

.locations .popover > li {
  display: block;
  color: #484848;
  margin: 0;
}

.locations .popover h2 {
  font-size: 16px;
}

.locations .cities li {
  display: block;
  color: #484848;
  margin: 0;
}

.locations:hover .popover {
  display: block;
}

.locations .popover:hover {
  display: block;
}

.amenities .popover {
  display: none;
  background-color: #FAFAFA;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  list-style: none;
  padding: 0;
}

.amenities .popover > li {
  display: block;
  color: #484848;
  margin: 0;
}

.amenities li {
  display: block;
  color: #484848;
  margin: 0;
}

.amenities:hover .popover {
  display: block;
}

.amenities .popover:hover {
  display: block;
}